{% extends "appetment/layout.html" %}
{% load static %}

{% block body %}
<div id="header" class="flexbox">
    <div id="header-container">
        <div id="dashboard-title" class="flexbox">
            <h1 id="company-name">Appetment</h1>
        </div>
        <div id="dashboard-tagline" class='flexbox'>
            <h3 id="tagline">Vet Visits Made Simple.</h3><br>
        </div>
        
    </div>
</div>
<div id="go-back" class="flexbox">
    <div id="back-btn">
        <a id="go-back" class="dashboard-btn" href="{% url 'index' %}">Back</a> 
    </div>
</div>
<hr>
<div id="login-container">
    
    <h2 id="login-label" class="flexbox">Sign In To Account:</h2>
    <div id="login-page" class="flexbox">
        
        <form method="POST" action="{% url 'login' %}">
            <p>{{ message }}</p>
            {% csrf_token %}
            <h2 id="login-label">Email:</h2>
            <input type="text" name="email" class="login-form-text"><br>
            <h2 id="login-label">Password:</h2>
            <input type="password" name="password" class="login-form-text"><br>
            <button type="submit" id='login-btn'>Login</button>
            <p id="have-acc">Don't have an account? <a href="{% url 'register' %}">Join us today!</a></p>
            
        </form>
        
    </div>
</div>

{% endblock %}